// #124{
//     background-image: url(./assets/Images/earth-day.jpg);
//     background-color: orchid;
// }

.buttons{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

