<body>
<div>
    <main>
<h1>Why Is Website Developement so Important?</h1>
<p>
    As human beings, we pride ourselves on our superb adaptation skills and ability to change with the times. Stemming from this, when the social world shifted from a place of interpersonal connections to internet connections, so did the world of business. There's no getting around it; our digitally-driven lifestyle has given us little choice but to adapt to technology, and if you haven't already, it's time to get a move on. It's a no-brainer; website development is now essential to you as a business person. For your business to generate more business, your voice needs to be heard, your brand needs to be seen, and your goals need to be reached. Website development is the key to making those things happen. The same way an eye is the window to the soul, a website is the window to the business, giving customers a taste of what you have to offer and enticing them to delve deeper for more.
</p>
    </main>
</div>

<h2 class ="heading2">This is heading one of home work two</h2>
<h3 class ="heading3">This is heading one of home work two</h3>
<h4 class ="heading4">This is heading one of home work two</h4>
<h5 class ="heading5">This is heading one of home work two</h5>
<h6 class ="heading6">This is heading one of home work two</h6>
<hr style="height: 2px; background-color: rgba(220, 20, 60, 0.596);">
<!--  -->
<!-- Alt+Z : Toggle text wrap -->



<div class="dummy-text"> 

    
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut ex doloribus sunt magnam exercitationem corrupti voluptas libero, dolorum iusto sapiente sint nostrum officiis expedita modi illo quia omnis deleniti natus vitae ea explicabo minus voluptate, voluptatum adipisci! Labore minima impedit exercitationem molestias atque. Debitis nobis, at voluptas quae itaque saepe, perferendis quam, tempore laborum esse quaerat fuga porro? Nostrum dolorem maxime in vitae quas iusto! Corporis sunt sed, doloribus beatae accusantium vel et, sapiente ex voluptates facere omnis maiores dicta iure hic quas perferendis soluta tempora delectus. Numquam tenetur error reiciendis? Exercitationem aperiam sed ea dolor! Asperiores numquam laborum molestias.
</p>
</div>

<!-- <div>
<p>Awesome! snow flakes: </p>

</div> -->
<hr style="background-color: blueviolet; height: 2px;">
<section>
<article> <!-- article 1 -->
   <h2>A spectacular Spring.</h2>
   <a href="https://www.britannica.com/science/spring-season">
    <img src="./assets/Images/spring.jpeg" alt="A rainiy day" width="500" height="400">
   </a>
</article>
<aside> <!--  -->
<p>
    Spring is a season of beginnings, from blooming flowers to active animals. People spend more time outdoors, days grow longer, and umbrellas pop open as the weather shifts from snow to rain.There's so much to see and do in spring—and this book will prepare you for all of it!
</p>
</aside>
<aside>
    <header>Spring benefits:</header>
<ul>
    <li>Spring Facts and Fun/li>
    <li>Plan for your spring vacation</li>
    <li>Budget for Spring</li>
    <li>Clothing For Spring</li>
    <li>100+ Spring Ideas</li>
</ul>
</aside>
<article>
    <h2>A Beautiful Fall in North America</h2>
    <a href="https://www.livescience.com/24476-autumn.html">
        <img src="./assets/Images/fall.jpeg" alt="Image of snow flakes" width="500" height="300">
    </a>
    </article>
    <aside>
    <p>
        Autumn, also known as Fall in American English, is one of the four temperate seasons. Outside the tropics, autumn marks the transition from summer to winter, in September or March, when the duration of daylight becomes noticeably shorter and the temperature cools considerably. Wikipedia

    </p>
</aside>
<aside>
    <header>Tips for fall:</header>
    <ol>
        <li>Know More About Fall Season</li>
        <li>palces To visit during Fall</li>
        <li>Food for falls</li>
        <li>Reasons Why Fall is the Best Seaso</li>
        <li>Fall Apparels </li>
    </ol>
</aside>
</section>
<hr style="background-color: springgreen; height: 2px;">

<section>
<article>
    <h3>Restore Our Earth</h3>
    
        
        <h2>Finally, A Chance For Environmental Justice</h2>
        <p>In order to Restore Our Earth, climate change solutions must center and benefit those most disproportionately impacted by environmental degradation and climate change.</p>

        <p>
    <b>JANUARY 15, 2021</b> <br> <br>
    The legacy of the first Earth Day in 1970 is rooted in the sweeping environmental laws and regulations that followed as a result. Much of this legislation is now under threat today. With less than one week left until the US presidential inauguration, EARTHDAY.ORG is rolling out the policy initiatives we want to see within the first 100 days of the Biden administration, by Earth Day 2021. <a href="https://www.earthday.org/finally-a-chance-for-environmental-justice/" class="btn btn-white">read more</a>
    
        </p>  
    
</article>
</section>
<hr style="background-color: rgb(237, 85, 111); height: 3px;">
<span class = "buttons">
<button>first btn</button>
<button>Second btn</button>
<button>Third btn</button>
<button>Fourth btn</button>
<button>Fifth btn</button>
</span> 
<br>
<hr style="background-color: goldenrod; height: 2px;">

</body>